 :root {
      --hl_c_bg: #4c5844;
      --hl_c_bg_inset: #3e4637;
      --hl_c_font_primary: #d8ded3;
      --hl_c_font_active: #c3b550;
      --hl_c_shadow_light: #889180;
      --hl_c_shadow_dark: #282e22;
    }
    
